<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap.min.js"></script>
    <script src="./lib/vue.min.js"></script>
    <title>オセロらしきもの</title>
    <style>
    [v-cloak] {
            display: none;
        }
        table {
            cursor: default;
            font-family: 'ＭＳ Ｐゴシック';
        }
        ::selection {
            background: rgba(0, 0, 0, 0);
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<body>
    <div id="app-othello" v-cloak>
        <table border="1" >
            <tbody>
                <tr v-for="(line, i) in board">
                    <td v-for="(row, j) in line" v-on:click="putStone(i, j)">
                        <div>
                            {{ getBoard(i,j) }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <butoon class="btn btn-danger m-1" v-on:click="debugChange(1)">デバッグ</butoon>
        <dev v-if="debug">
            <p> debug: {{ debug }} </p>
            <p> board: {{ board }} </p>
            <p> getBoard: {{ getBoard(0, 0) }} </p>
        </dev>
    </div>
    <script src="./vue_othello.js"></script>
</body>