<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap.min.js"></script>
    <script src="./lib/vue.min.js"></script>
    <title>オセロらしきもの</title>
    <style>
    [v-cloak] {
            display: none;
        }
        table {
            margin: 5px;
            cursor: default;
            font-family: 'ＭＳ Ｐゴシック';
            font-weight: bold;
        }
        div > table ::selection {
                background: rgba(255, 255, 255, 0);
                color: rgb(255, 255, 255);
            }
        td:hover {
                background-color: rgb(138, 138, 138);
            }
    </style>
</head>
<body>
    <div id="app-othello" v-cloak>
        <table class="table-dark table-bordered float-left">
            <tbody>
                <tr v-for="(line, i) in board">
                    <td v-for="(cell, j) in line" v-on:click="userInput(i, j)" width="25">
                        <div class="text-center">
                            {{ printCell(i,j) }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="divider py-1 bg-*"></div>
        
        <div class="container bg-secondary text-white" style="margin-left: +210px;">
            <p></p>
            <p>
                <span v-if="turn">
                    白
                </span>
                <span v-else>
                    黒
                </span>
                <span style="font-family: 'ＭＳ Ｐゴシック';">
                    {{ whichIsTurn(turn) }}
                </span>
                の手番です
            </p>
            <p>
                <div class="custom-control custom-switch py-1" >
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="auto">
                    <label class="custom-control-label" for="customSwitch1"> 相手自動化 </label>
                </div>
            </p>
            <p>
                黒 <span style="font-family: 'ＭＳ Ｐゴシック';">
                    {{ whichIsTurn(false) }}
                </span>
                ： {{ stonePosition(whichIsTurn(false)).length }} 個
            </p>
            <p>
                白 <span style="font-family: 'ＭＳ Ｐゴシック';">
                    {{ whichIsTurn(true) }}
                </span>
                ： {{ stonePosition(whichIsTurn(true)).length }} 個
            </p>
            <p v-if="0 === putAblePosition().length"> ＝＝＝終了！！＝＝＝ </p>
            <p v-else> </p>
        </div>
        <div class="clearfix divider py-1 bg-*"></div>
        <butoon class="btn btn-danger m-1" v-on:click="debugChange(1)">デバッグ</butoon>
        <dev v-if="debug">
            <p> <button v-on:click="putRandPosition"> ランダムな場所に置く </button> </p>
            <p> stonePosition(whichIsTurn(false)).length: {{ stonePosition(whichIsTurn(false)).length }}</p>
            <p> stonePosition(whichIsTurn(true)).length: {{ stonePosition(whichIsTurn(true)).length }}</p>
            <p> turn: {{ turn }} </p>
            <p> whichIsTurn: {{ whichIsTurn(turn) }}</p>
            <p> board: {{ board }} </p>
            <p> history: {{ history }}</p>
            <p> printCell(0, 0): {{ printCell(0, 0) }} </p>
            <p> countArrow(2, 4, 1, 0): {{ countArrow(2, 4, 1, 0) }}</p>
            <p> countEightDirections(2, 4): {{ countEightDirections(2, 4) }}</p>
            <p> putAblePosition(): {{ putAblePosition() }}</p>
        </dev>
    </div>
    <script src="./vue_othello.js"></script>
</body>